<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top"> 		<!-- Master nav -->
    <!-- top nav -->
    <nav class="navbar navbar-top">

        <div class="container">
            <!-- left nav top -->

            <!-- right nav top -->
            <ul class="nav navbar-nav pull-right" style="padding:9px;">
                <input aria-label="buscar" type="text" class="nav-search input" placeholder="Encuentra tus vuelos preferidos">
                <a href="#" class="btn btn"> Explorar</a>
                <a href="#" class="btn ">Mis vuelos</a>
                <a class="vr"></a>
                <a href="#" class="btn btn">Inicio de sesion  </a>

            </ul>
        </div>

    </nav>

    <!-- down nav -->
    <nav class="navbar navbar-down">
        <div class="container">
            <div class="flex-container">
                <ul class="nav navbar-nav flex-item hidden-xs">
                    <li><a href="#">Vuelos</a></li>
                    <li><a href="#">Paquetes</a></li>
                    <li><a href="#">Hoteles</a></li>
                    <li><a href="#">Autos</a></li>
                    <li><a href="#">Seguros</a></li>
                    <li><a href="#">Upgrade</a></li>
                    <li><a href="#">Centro de ayuda</a></li>
                </ul>
                <ul class="nav navbar-nav flex-item hidden-xs pull-right">
                    <li><a href="#" class=""></a></li>
                </ul>
            </div>
        </div>
    </nav>

</nav>		<!-- /master nav -->

<div class="container">
    <div class="row">

        <div class="col-md-8">
            <h3>Example heading <span class="label label-default">New</span></h3>
        </div>




        <div class="col-md-4">

        </div>
    </div>
</div>